@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$color-blue: #0079FF;
$color-gray: #697C9A;
$color-dark-blue: #4b6a9b;
$color-black-1: #2b3442;
$color-black-2: #141d2f;
$color-black-3: #1e2a47;
$color-black-4: #222731;
$color-white-1: #f6f8ff;
$color-white-2: #fefefe;
$color-white: #ffffff;
$color-red: #f74646;

$font-family-primary: 'Space Mono', monospace;

$font-weight-regular: 400;
$font-weight-bold: 700;

@mixin tablet {
  @media (min-width: 36em) {
    @content
  }
}

@mixin desktop {
  @media (min-width: 46em) {
    @content
  }
}
